<app-add-location></app-add-location>

<app-calculate [allTravelPoints]="allTravelPoints"></app-calculate>

<div
  *ngIf="allTravelPoints.length >= 1"
  class="control-panel d-flex flex-column justify-content-center"
>
  <h3 class="text-center">Control Panel</h3>
  <div class="container-actions-button d-flex justify-content-center">
    <div class="mb-3">
      <button
        type="button"
        class="btn btn-primary"
        (click)="openCalculateModal()"
        [disabled]="allTravelPoints.length === 1"
      >
        Calculate
      </button>
    </div>

    <div class="mb-3">
      <button
        type="button"
        class="btn btn-primary"
        (click)="openAddlocationModal()"
      >
        Add Location
      </button>
    </div>

    <div class="mb-3">
      <button
        type="button"
        class="btn btn-primary"
        (click)="reset()"
        [disabled]="allTravelPoints.length === 1"
      >
        Reset
      </button>
    </div>
  </div>
</div>

<div
  class="travel-container d-flex flex-column"
  *ngIf="allTravelPoints.length >= 1"
>
  <div
    class="card-container"
    *ngFor="
      let point of allTravelPoints;
      let i = index;
      let first = first;
      let last = last
    "
  >
    <div class="card">
      <div class="card-action">
        <i [class]="returnIcon(point.getType())" class="travel-point-icon"></i>
        <i
          class="bi bi-x-circle close-btn"
          title="Remove Location"
          *ngIf="!first"
          (click)="removeLocation(point)"
        ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">
          {{ point.getType() | titlecase }}
        </h5>
        <p class="card-text text-center">
          {{ point?.getAddress() }}
        </p>
      </div>
    </div>

    <div class="next-box" *ngIf="i >= 0 && !last">
      <i class="bi-arrow-down"></i>
    </div>
  </div>
</div>
